@model WebApplication1.Models.Training

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @* <div class="form-group">
                <label asp-for="OrganizationId" class="control-label">Organization</label>
                <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId"></select>
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
            </div> *@

            <div class="form-group my-2">
                <label asp-for="OrganizationId" class="control-label">Organization</label>
                <p class="form-control-static my-2 fw-bold">@ViewBag.OrganizationName</p>
                <input type="hidden" asp-for="OrganizationId" />
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
            </div>

            <div class="form-group  my-2">
                <label asp-for="TrainingDate" class="control-label"></label>
                <input asp-for="TrainingDate" class="form-control" type="date" />
                <span asp-validation-for="TrainingDate" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="PlaceOfTraining" class="control-label"></label>
                <input asp-for="PlaceOfTraining" class="form-control" />
                <span asp-validation-for="PlaceOfTraining" class="text-danger"></span>
            </div> *@

            <div class="form-group  my-2">
                <label asp-for="PlaceOfTraining" class="control-label"></label>
                <select asp-for="PlaceOfTraining" class="form-control">
                    <option value="Room 1">Room 1</option>
                    <option value="Room 2">Room 2</option>
                    <option value="Room 3">Room 3</option>
                    <option value="Room 4">Room 4</option>
                </select>
                <span asp-validation-for="PlaceOfTraining" class="text-danger"></span>
            </div>

            <div class="form-group  my-2">
                <label asp-for="PurposeOfTraining" class="control-label"></label>
                <input asp-for="PurposeOfTraining" class="form-control" />
                <span asp-validation-for="PurposeOfTraining" class="text-danger"></span>
            </div>
            <div class="form-group  my-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
